<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Document</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <legend><h1>Atelier Django</h1></legend>
    <h4>Date: {% now "D d M Y " %} </h4>
    <hr></hr>
    <ul>
{% if sexe == 'M' %}
<p><b>MR {{nom}} {{prenom}}</b></p>
{% elif sexe == 'F' %}
<p><b>Mademoiselle {{nom|upper}} {{prenom}}</b></p>
{% else %}
<p> Etudiant(e) </p>
{% endif %}
        <li><b>Age:</b>{{age}}</li>
       
        <li><b>Adresse:</b>{{adresse}}</li>
        <li><b>Classe:</b>{{classe}}</li>
       
        <li><b>Note : <a href="notes/">Cliquez ici</a></b></li>  
             
        
    </ul>
</body>
</html>